* {
    font-family: "Inter";
}

/* Footer */
#view-player-footer {
    background-color: #191b21;
}

/* Shadows on scrolling text */
.scroll-text-container::before, .scroll-text-container::after {
    display: none;
}

/* Explicit label */
#list-placeholder tr.added.selected.selection-focus.tl-row .tl-explicit .label, #list-placeholder tr:hover .tl-explicit .label, .tl-explicit .label {
    color: #4e6bff !important;
    border: 1px solid #4e6bff !important;
}

/* Small image in bottom left */
.cover-image-container {
    overflow: hidden !important;
    border-radius: 0.25rem !important;
}

/* Round green buttons */
.button-green {
    background: linear-gradient(#9bcdff, #4e6bff) !important;
}