*
!_snippets.md
!.gitattributes
!.gitignore
!alacritty
!alacritty/**
!bash
!bash/**
!bspwm
!bspwm/**
!Code - OSS
!Code - OSS/User
!Code - OSS/User/settings.json
!conky
!conky/**
!desktop.png
!dunst
!dunst/**
!feh
!feh/**
!flameshot
!flameshot/**
!glava
!glava/**
!gtk-3.0
!gtk-3.0/**
!mimeapps.list
!picom
!picom/**
!polybar
!polybar/**
!preview1.png
!preview2.png
!preview3.png
!preview4.png
!PulseEffects
!PulseEffects/**
!README.md
!rofi
!rofi/**
!script
!script/**
!spicetify
!spicetify/**
!sxhkd
!sxhkd/**
!tint2
!tint2/**
!ungoogled-chromium.desktop