*
!_snippets.md
!.gitignore
!.gitattributes
!alacritty
!alacritty/**
!bash
!bash/**
!bspwm
!bspwm/**
!dunst
!dunst/**
!feh
!feh/**
!flameshot
!flameshot/**
!gtk-3.0
!gtk-3.0/**
!picom
!picom/**
!polybar
!polybar/**
!PulseEffects
!PulseEffects/**
!rofi
!rofi/**
!script
!script/**
!spicetify
!spicetify/**
!sxhkd
!sxhkd/**
!mimeapps.list
!preview1.png
!preview2.png
!preview3.png
!preview4.png
!README.md
!Code - OSS
!Code - OSS/User
!Code - OSS/User/settings.json